
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
/*Imported link for google fonts to enable use of Roboto Slab font on web pages. */


header, .nav { /* CSS that creates a bottom border of colour grey underneath the header of page and under nav bar. */
    border-bottom: solid;
    border-color: grey;
    
}

body { /* Entire page set to a background color of white. */
    background-color: white;
    
}

.nav ul { /* Sets background of nav bar, centers it, and takes away list style from unordered list. */
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #28536B;
    
   }

.nav li {   /* Displays list items of unordered list of nav bar as inline block */
    display: inline-block;
    
}

.nav a {  /* Formates font size, width, google font, display, padding, and border style (Grey) for nav bar links. */
    text-decoration: none;
    width: 100px;
    display: block;
    font-size: 17px;
    padding: 30px;
    border-style: outset;
    border-color:grey;
    color: white;
    font-family: 'Roboto Slab', serif;
}


#logo { /* Centers logo. Sets logo picture to block, auto sets margins, and makes width 25% of header. */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 25%;
}


/* Flex Box Creation for photos on home page */
#ourWork {
    display: flex;
    flex-wrap: wrap;
    
}

#ourWork li { /* sets list items of page to cover 40% of viewport height, takes away list style, and sets flex-grow to change if necessary */
    height: 40vh;
    flex-grow: 1;
    list-style: none;
}

#main-page{ /*sets max height of pictures to 100%, min width to 100%, and to cover the page. */
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    
}

#slogan, #specialize, #specializepara, h1, h2, .services { /* Sets text to center of page for various content and adds google font. */
    text-align:center;
    font-family: 'Roboto Slab', serif;
}

footer{ /* Sets footer content to center, font color to white, background color, adds top border of gray color, google font, size */
    text-align:center;
    color:white;
    background-color: #28536B;
    border-top: solid;
    border-color:gray;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

#aboutUs { /* text set to center of page for about us information and changes font-size to 17px */
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#theTeam{ /* formats picture on About Us page to be centered and 40% of screen width. */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 40%;
}


.services-image{ /* formatting for images on services page */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width: 40%;
}

#orderPage{
    font-family: 'Roboto Slab', serif;
    
}



